

h1 {
  margin: 60px auto 0;
  width: 550px;
  text-align: center;
  font-size: 36px;
}

div {
  color: black;
}

.base {
  position: absolute;
  bottom: 0;
  left: -35px;
  width: 825px;
  height: 20px;
  background-color: transparent;
  -moz-transform: skew(45deg);
  -o-transform: skew(45deg);
  -webkit-transform: skew(45deg);
}

.chart-container {
  position: relative;
  z-index: 0;
  margin: 100px auto 0;
  width: 800px;
  height: 500px;
  border: solid 1px #bbb;
  background-color: grey;
/*  -webkit-box-shadow: 0 8px 6px -6px #444;
*/}

.chart-container:after {
  content:"";
  position: absolute;
  top: -15px;
  left: -8px;
  height: 15px;
  width: 800px;
  background-color: darkgray;
  -moz-transform: skew(45deg);
  -o-transform: skew(45deg);
  -webkit-transform: skew(45deg);
  transform: skew(45deg);
}

.chart-container > table {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
  width: 100%;
  height: 100%;
}

.chart-container table  tr  td {
  width: 100px;
  height: 98x;
  border: solid 1px  rgba(255,255,255,0.05);

}

.meter {
  position: relative;
  top: 0px;
  left: -30px;
  height: 500px;
  width: 30px;
  background-color: transparent;
  border-left: solid 1px rgba(255,255,255,0.5);

}

.meter:before {
  content: "";
  position: absolute;
  top: -7px;
  left: -15px;
  width: 15px;
  height: 500px;
  background-color: transparent;
   -moz-transform: skewY(45deg);
  -o-transform: skewY(45deg);
  -webkit-transform: skewY(45deg);
  transform: skewY(45deg);
}

.meter:after {
  content: "";
  position: absolute;
  top: -15px;
  left: -8px;
  width: 30px;
  height: 15px;
  background-color: rgba(13,171,217,0.45);
   -moz-transform: skewX(45deg);
  -o-transform: skewX(45deg);
  -webkit-transform: skewX(45deg);
  transform: skewX(45deg);
}

.meter li {
  position: relative;
  list-style-type: none;
  height: 99px;
  border-bottom: solid 1px #0DABD9;
}

.meter li:before {
  content: "";
  position: absolute;
  top: -15px;
  left: -30px;
  width: 30px;
  height: 100%;
  border-bottom: solid 1px black;
  -moz-transform: skewY(45deg);
  -o-transform: skewY(45deg);
  -webkit-transform: skewY(45deg);
  transform: skewY(45deg);
}

.meter li:last-child {
  border-bottom: none;
}

.meter li:last-child:before {
  border: 0;
}

.meter li div {
  position: absolute;
  left: -115px;
  top: 0;
  padding: 55px 0 0;
  width: 80px;
  color: black;
  text-align: right;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}


/* ---------------------
  Vertical Bars
----------------------*/

.bar {
  float: left;
  position: absolute;
  bottom: 0;
  z-index: 99;
  height: 35%;
  width: 40px;
  margin: 0 40px;
  background-color: lightblue;
}

.bar:before {
  content: "";
  position: absolute;
  left: -15px;
  bottom: 7px;
  height: 100%;
  width: 15px;
  background-color: blue;
  -webkit-transform: skewY(45deg);
}

.bar:after {
  content: "";
  position: absolute;
  top: -15px;
  left: -8px;
  width: 40px;
  height: 15px;
  background-color: blue;
  -moz-transform: skewX(45deg);
  -o-transform: skewX(45deg);
  -webkit-transform: skewX(45deg);
  transform: skewX(45deg);
}

/*.two {
  left: 12.5%;
  height: 57%;
}

.three {
  left: 25%;
  height: 85%;
}

.four {
  left: 37.5%;
  height: 35%;
}

.five {
  left: 50%;
  height: 63%;
}

.six {
  left: 62.5%;
  height: 45%;
}

.seven {
  left: 75%;
  height: 15%;
}

.eight {
  left: 87.5%;
  height: 32%;
}
*/

/*Graficos generales de Averias*/
.board{
    margin: left;
    width: 100%;
    height: 700px;
    background-color: white;
    padding: 20px;
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;
}
.titulo_grafica{
    width: 100%;
    height: 10%;
}
.titulo_grafica>h3{
    padding: 0;
    margin: 0px;
    text-align: center;
    color: #666666;
}
.sub_board{
    width: 100%;
    height: 100%;

    padding: 23px;

    padding: 10px;

    margin-top: 0px;
    background-color: white;
    overflow: hidden;
    box-sizing: border-box;
}
.sep_board{
    width: 100%;
    height: 1%;
}
.cont_board{
    width: 100%;

    height: 75%;

    /*height: 80%;*/

}
.graf_board{
    width: 97%;
    height: 80%;
    float: right;
    margin-top: 0px;
    background-color: darkgrey;
    border-left: 2px solid #999999;
    border-bottom: 2px solid #999999;
    box-sizing: border-box;
    display: flex;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, 
    rgba(0,0,0,0) 9.5%,  rgba(0,0,0,0.3) 10%, rgba(0,0,0,0) 10.5%, 
    rgba(0,0,0,0) 19.5%, rgba(0,0,0,0.3) 20%, rgba(0,0,0,0) 20.5%, 
    rgba(0,0,0,0) 29.5%, rgba(0,0,0,0.3) 30%, rgba(0,0,0,0) 30.5%, 
    rgba(0,0,0,0) 39.5%, rgba(0,0,0,0.3) 40%, rgba(0,0,0,0) 40.5%, 
    rgba(0,0,0,0) 49.5%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0) 50.5%, 
    rgba(0,0,0,0) 59.5%, rgba(0,0,0,0.3) 60%, rgba(0,0,0,0) 60.5%, 
    rgba(0,0,0,0) 69.5%, rgba(0,0,0,0.3) 70%, rgba(0,0,0,0) 70.5%, 
    rgba(0,0,0,0) 79.5%, rgba(0,0,0,0.3) 80%, rgba(0,0,0,0) 80.5%, 
    rgba(0,0,0,0) 89.5%, rgba(0,0,0,0.3) 90%, rgba(0,0,0,0) 90.5%,  
    rgba(0,0,0,0) 100%);

    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, 
    rgba(0,0,0,0) 9.5%,  rgba(0,0,0,0.3) 10%, rgba(0,0,0,0) 10.5%, 
    rgba(0,0,0,0) 19.5%, rgba(0,0,0,0.3) 20%, rgba(0,0,0,0) 20.5%, 
    rgba(0,0,0,0) 29.5%, rgba(0,0,0,0.3) 30%, rgba(0,0,0,0) 30.5%, 
    rgba(0,0,0,0) 39.5%, rgba(0,0,0,0.3) 40%, rgba(0,0,0,0) 40.5%, 
    rgba(0,0,0,0) 49.5%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0) 50.5%, 
    rgba(0,0,0,0) 59.5%, rgba(0,0,0,0.3) 60%, rgba(0,0,0,0) 60.5%, 
    rgba(0,0,0,0) 69.5%, rgba(0,0,0,0.3) 70%, rgba(0,0,0,0) 70.5%, 
    rgba(0,0,0,0) 79.5%, rgba(0,0,0,0.3) 80%, rgba(0,0,0,0) 80.5%, 
    rgba(0,0,0,0) 89.5%, rgba(0,0,0,0.3) 90%, rgba(0,0,0,0) 90.5%,  
    rgba(0,0,0,0) 100%);

    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,
    rgba(0,0,0,0) 9.5%,  rgba(0,0,0,0.3) 10%, rgba(0,0,0,0) 10.5%, 
    rgba(0,0,0,0) 19.5%, rgba(0,0,0,0.3) 20%, rgba(0,0,0,0) 20.5%, 
    rgba(0,0,0,0) 29.5%, rgba(0,0,0,0.3) 30%, rgba(0,0,0,0) 30.5%, 
    rgba(0,0,0,0) 39.5%, rgba(0,0,0,0.3) 40%, rgba(0,0,0,0) 40.5%, 
    rgba(0,0,0,0) 49.5%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0) 50.5%, 
    rgba(0,0,0,0) 59.5%, rgba(0,0,0,0.3) 60%, rgba(0,0,0,0) 60.5%, 
    rgba(0,0,0,0) 69.5%, rgba(0,0,0,0.3) 70%, rgba(0,0,0,0) 70.5%, 
    rgba(0,0,0,0) 79.5%, rgba(0,0,0,0.3) 80%, rgba(0,0,0,0) 80.5%, 
    rgba(0,0,0,0) 89.5%, rgba(0,0,0,0.3) 90%, rgba(0,0,0,0) 90.5%, 
    rgba(0,0,0,0) 100%);

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );
}
.barra{
    width:100%;
    height: 100%;
    margin-right: 15px;
    margin-left: 5px;
    background-color: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.barra1{
    width:100%;
    height: 100%;
    margin-right: 15px;
    margin-left: 5px;
    background-color: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.sub_barra1{
    width: 100%;
    height: 90%;
    background: #0047b3;
    background: -moz-linear-gradient(top, #ccf5ff 0%, #00ccff 100%);
    background: -webkit-linear-gradient(top, #ccf5ff 0%,#00ccff 100%);
    background: linear-gradient(to bottom, #ccf5ff 0%,#00ccff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00799b', endColorstr='#64d1be',GradientType=0 );
}
.sub_barra2{
    width: 100%;
    height: 90%;
    background: #0047b3;
    background: -moz-linear-gradient(top, #ccffdd 0%, #00ff55 100%);
    background: -webkit-linear-gradient(top, #ccffdd 0%,#00ff55 100%);
    background: linear-gradient(to bottom, #ccffdd 0%,#00ff55 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00799b', endColorstr='#64d1be',GradientType=0 );
}
.sub_barra3{
    width: 100%;
    height: 90%;
    background: #0047b3;
    background: -moz-linear-gradient(top, #ddccff 0%, #9966ff 100%);
    background: -webkit-linear-gradient(top, #ddccff 0%,#9966ff 100%);
    background: linear-gradient(to bottom, #ddccff 0%,#9966ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00799b', endColorstr='#64d1be',GradientType=0 );
}
.sub_barra4{
    width: 100%;
    height: 90%;
    background: #0047b3;
    background: -moz-linear-gradient(top, #ffcccc 0%, #ff6666 100%);
    background: -webkit-linear-gradient(top, #ffcccc 0%,#ff6666 100%);
    background: linear-gradient(to bottom, #ffcccc 0%,#ff6666 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00799b', endColorstr='#64d1be',GradientType=0 );
}

.sub_barra{
    width: 100%;
    height: 80%;
    background: #0047b3;
    background: -moz-linear-gradient(top, #99c2ff 0%, #0047b3 100%);
    background: -webkit-linear-gradient(top, #99c2ff 0%,#0047b3 100%);
    background: linear-gradient(to bottom, #99c2ff 0%,#0047b3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00799b', endColorstr='#64d1be',GradientType=0 );

    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}
.tag_g{
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 20px;
    margin-bottom: 12px;
    margin-bottom: 30px;
    text-align: center;
    z-index: 2;
}
.leyenda{
    width: 100%;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
}
.tag_leyenda{
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    /*margin-top: 100px;
    margin-top: 1px;*/
}
.tag_board{
    height: 100%;
    width: 5%;
    font-size: 20px;
    border-bottom: 1px solid rgba(0,0,0,0);
    box-sizing: border-box;
}
.sub_tag_board{
    height: 80%;
    width: 15%;
    display: top;
    align-items: flex-end;
    flex-wrap: wrap;
}
.sub_tag_board>div{
    width: 100%;
    height: 12.5%;
    text-align: right;
    padding-right: 10px;
    box-sizing: border-box;
}

/*Graficos por Mes*/

.boardmk2{
    margin: auto;
    width: 100%;
    height: 700px;
    background-color: white;
    padding: 20px;
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;
}
.titulo_graficamk2{
    width: 100%;
    height: 10%;
}
.titulo_graficamk2>h3{
    padding: 0;
    margin: 0px;
    text-align: center;
    color: #666666;
}
.sub_boardmk2{
    width: 100%;
    height: 100%;

    padding: 23px;

    padding: 10px;

    margin-top: 0px;
    background-color: white;
    overflow: hidden;
    box-sizing: border-box;
}
.sep_boardmk2{
    width: 100%;
    height: 1%;
}
.cont_boardmk2{
    width: 100%;

    height: 75%;

    /*height: 80%;*/

}
.graf_boardmk2{
    width: 97%;
    height: 80%;
    float: right;
    margin-top: 0px;
    background-color: darkgrey;
    border-left: 2px solid #999999;
    border-bottom: 2px solid #999999;
    box-sizing: border-box;
    display: flex;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, 
    rgba(0,0,0,0) 9.5%,  rgba(0,0,0,0.3) 10%, rgba(0,0,0,0) 10.5%, 
    rgba(0,0,0,0) 19.5%, rgba(0,0,0,0.3) 20%, rgba(0,0,0,0) 20.5%, 
    rgba(0,0,0,0) 29.5%, rgba(0,0,0,0.3) 30%, rgba(0,0,0,0) 30.5%, 
    rgba(0,0,0,0) 39.5%, rgba(0,0,0,0.3) 40%, rgba(0,0,0,0) 40.5%, 
    rgba(0,0,0,0) 49.5%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0) 50.5%, 
    rgba(0,0,0,0) 59.5%, rgba(0,0,0,0.3) 60%, rgba(0,0,0,0) 60.5%, 
    rgba(0,0,0,0) 69.5%, rgba(0,0,0,0.3) 70%, rgba(0,0,0,0) 70.5%, 
    rgba(0,0,0,0) 79.5%, rgba(0,0,0,0.3) 80%, rgba(0,0,0,0) 80.5%, 
    rgba(0,0,0,0) 89.5%, rgba(0,0,0,0.3) 90%, rgba(0,0,0,0) 90.5%,  
    rgba(0,0,0,0) 100%);

    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, 
    rgba(0,0,0,0) 9.5%,  rgba(0,0,0,0.3) 10%, rgba(0,0,0,0) 10.5%, 
    rgba(0,0,0,0) 19.5%, rgba(0,0,0,0.3) 20%, rgba(0,0,0,0) 20.5%, 
    rgba(0,0,0,0) 29.5%, rgba(0,0,0,0.3) 30%, rgba(0,0,0,0) 30.5%, 
    rgba(0,0,0,0) 39.5%, rgba(0,0,0,0.3) 40%, rgba(0,0,0,0) 40.5%, 
    rgba(0,0,0,0) 49.5%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0) 50.5%, 
    rgba(0,0,0,0) 59.5%, rgba(0,0,0,0.3) 60%, rgba(0,0,0,0) 60.5%, 
    rgba(0,0,0,0) 69.5%, rgba(0,0,0,0.3) 70%, rgba(0,0,0,0) 70.5%, 
    rgba(0,0,0,0) 79.5%, rgba(0,0,0,0.3) 80%, rgba(0,0,0,0) 80.5%, 
    rgba(0,0,0,0) 89.5%, rgba(0,0,0,0.3) 90%, rgba(0,0,0,0) 90.5%,  
    rgba(0,0,0,0) 100%);

    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,
    rgba(0,0,0,0) 9.5%,  rgba(0,0,0,0.3) 10%, rgba(0,0,0,0) 10.5%, 
    rgba(0,0,0,0) 19.5%, rgba(0,0,0,0.3) 20%, rgba(0,0,0,0) 20.5%, 
    rgba(0,0,0,0) 29.5%, rgba(0,0,0,0.3) 30%, rgba(0,0,0,0) 30.5%, 
    rgba(0,0,0,0) 39.5%, rgba(0,0,0,0.3) 40%, rgba(0,0,0,0) 40.5%, 
    rgba(0,0,0,0) 49.5%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0) 50.5%, 
    rgba(0,0,0,0) 59.5%, rgba(0,0,0,0.3) 60%, rgba(0,0,0,0) 60.5%, 
    rgba(0,0,0,0) 69.5%, rgba(0,0,0,0.3) 70%, rgba(0,0,0,0) 70.5%, 
    rgba(0,0,0,0) 79.5%, rgba(0,0,0,0.3) 80%, rgba(0,0,0,0) 80.5%, 
    rgba(0,0,0,0) 89.5%, rgba(0,0,0,0.3) 90%, rgba(0,0,0,0) 90.5%, 
    rgba(0,0,0,0) 100%);

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );
}
.barramk2{
    width:100%;
    height: 100%;
    margin-right: 15px;
    margin-left: 5px;
    background-color: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.barra1mk2{
    width:100%;
    height: 100%;
    margin-right: 15px;
    margin-left: 5px;
    background-color: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.sub_barra1mk2{
    width: 100%;
    height: 90%;
    background: #0047b3;
    background: -moz-linear-gradient(top, #cc99ff 0%, #400080 100%);
    background: -webkit-linear-gradient(top, #cc99ff 0%,#400080 100%);
    background: linear-gradient(to bottom, #cc99ff 0%,#400080 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00799b', endColorstr='#64d1be',GradientType=0 );
}
.sub_barra2mk2{
    width: 100%;
    height: 90%;
    background: #0047b3;
    background: -moz-linear-gradient(top, #80ff80 0%, #008000 100%);
    background: -webkit-linear-gradient(top, #80ff80 0%,#008000 100%);
    background: linear-gradient(to bottom, #80ff80 0%,#008000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00799b', endColorstr='#64d1be',GradientType=0 );
}
.sub_barra3mk2{
    width: 100%;
    height: 90%;
    background: #0047b3;
    background: -moz-linear-gradient(top, #e580ff 0%, #7a0099 100%);
    background: -webkit-linear-gradient(top, #e580ff 0%,#7a0099 100%);
    background: linear-gradient(to bottom, #e580ff 0%,#7a0099 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00799b', endColorstr='#64d1be',GradientType=0 );
}
.sub_barra4mk2{
    width: 100%;
    height: 90%;
    background: #0047b3;
    background: -moz-linear-gradient(top, #ff6666 0%, #990000 100%);
    background: -webkit-linear-gradient(top, #ff6666 0%,#990000 100%);
    background: linear-gradient(to bottom, #ff6666 0%,#990000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00799b', endColorstr='#64d1be',GradientType=0 );
}

.sub_barramk2{
    width: 100%;
    height: 80%;
    background: #0047b3;
    background: -moz-linear-gradient(top, #99c2ff 0%, #0047b3 100%);
    background: -webkit-linear-gradient(top, #99c2ff 0%,#0047b3 100%);
    background: linear-gradient(to bottom, #99c2ff 0%,#0047b3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00799b', endColorstr='#64d1be',GradientType=0 );

    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}
.tag_gmk2{
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 20px;
    margin-bottom: 12px;
    margin-bottom: 30px;
    text-align: center;
    z-index: 2;
}
.tag_leyendamk2{
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    /*margin-top: 100px;
    margin-top: 1px;*/
}
.tag_boardmk2{
    height: 100%;
    width: 30%;
    font-size: 20px;
    border-bottom: 1px solid rgba(0,0,0,0);
    box-sizing: border-box;
}
.sub_tag_boardmk2{
    height: 85%;
    width: 10%;
    display: top;
    align-items: flex-end;
    flex-wrap: wrap;
}
.sub_tag_boardmk2>div{
    width: 100%;
    height: 10%;
    text-align: right;
    padding-right: 10px;
    box-sizing: border-box;
}

